{% extends "base.html" %}

{% block head %}
  <title>Django App</title>
    <header>
      <h1>Django App</h1>
  </header>
{% endblock %}

{% block sidebar%}
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/articles/all">Articles</a></li>
    <li><a href="/articles/create">Create Articles </a> </li>
    <li><a href="/admin">Admin</a></li>
    <li><a href="/polls">Polls</a></li>
  </ul>
{% endblock %}

{% block content %}

  {% if articles_list.count > 0 %}
      <section>
          <p>All articles are follows:</p>
          {% for article in articles_list %}
          <ul>
      	    <li>
      		    <a href="/articles/get/{{article.id}}">{{ article.title|title }} </a> <br/>
      		    {{ article.body|lower|truncatewords:10  }}
              <p> {{ article.likes }} people liked this article.</p>
      	    </li>
          </ul>
          {% endfor %}
      </section>    
  {% else %}
  <p> Not any article yet :( </p>
  {% endif %}
  <h3> Lanhuage is {{ language }} </h3>
  <h5> session language is {{session_language}} </h5>
{% endblock %}