<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title> {%block title %} First Django APP {% endblock %} </title>
    {% block head %}{% endblock %}
    <style type="text/css">
    	#sidebar{
		float:left;
		width:200px;
		border: 1px solid #000;
	   }

	#content{
		float:left;
		width:400px;
		border: 1px solid #000;
		padding: 10px;
	}
    </style>
  </head>
  <body>
    <div id="page">
        <div id="sidebar">
            {% block sidebar %}
    		<ul>
    			<li><a href="/articles/all">Articles</a></li>
    			<li><a href="/admin">Admin</a></li>
    			<li><a href="/polls">Polls</a></li>
    		</ul>
             {% endblock %}
        </div>
    	<div id='content'>
  			{% block content %}{% endblock %}
    		{% block body %}{% endblock %}
    	</div>
    </div>
  </body>
</html>